.mobile-menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 16px;
  top: 0;
  left: 0;
  right: 0;
  height: 62px;
  z-index: 9999999;
}
.mobile-menu__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 30px;
  cursor: pointer;
  transition: .4s;
}
.mobile-menu__icon {
  display: block;
  position: absolute;
  left: 1%;
  background: white;
  width: 90%;
  height: 2.5px;
  transition: .4s;
}
.mobile-menu__icon::after, .mobile-menu__icon::before {
  content: "";
  display: block;
  position: absolute;
  background: white;
  width: 100%;
  height: 2.5px;
  transition: .4s;
}
.mobile-menu__icon::after {
  top: 8px;
}
.mobile-menu__icon::before {
  top: -8px;
}
.mobile-menu__container {
  position: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 999;
  height: 0;
  opacity: 1;
  transition: .5s;
  overflow: hidden;
  background-color: #6B9BD2;
}
.mobile-menu__list {
  transition: .5s;
  list-style: none;
  padding-left: 0;
  position: absolute;
  top: 20px;
}
.mobile-menu__item {
  font-size: 26px;
  padding-bottom: .5px;
}
.mobile-menu__link {
  text-decoration: none;
  color: #fff;
}
.mobile-menu__checkbox {
  display: none;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__nav {
  opacity: 1;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__container {
  height: 100%;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
  background: transparent;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
  top: 0;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.avatar {
  width: 60px;
  height: 60px;
  border: 3px solid #5687BF;
  border-radius: 50px;
  box-sizing: border-box;
}
@font-face {
  font-family: "SFRegular";
  src: url("/src/data/fonts/sf_regular.ttf");
}

@font-face {
  font-family: "SFMedium";
  src: url("/src/data/fonts/sf_medium.ttf");
}

.name {
  font-family: SFMedium;
  font-size: 20px;
}

.undername {
  color: rgba(255, 255, 255, 0.5);
  font-family: SFRegular;
  font-size: 13px;
}

.icon {
  width: 15px;
  height: 15px;
  position: absolute;


}

.puncts {
  position: absolute;
  left: .1px;
  top: 150px;
  width: 100%;

 }

 .punct {
    display: block;
    padding: 10px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    background-color: #6B9BD2;
    text-align: left;

}

.punct:hover{
    background-color: #5687BF;
    color: #FFFFFF;
}

.separator {
  margin: 5px auto;
  background: #71A0D7;
  width: 100%;
  height: 2px;
}

.punctTitle {
  margin-left: 20px;
}
